<!DOCTYPE html>
<html>

<head>
    <title>Ask</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
</head>

<body>

    <div class="container">
        <div class="row" id="landing-header">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login </h3>
                    </div>
                    <form action="" class="ui form">
                        <div class="panel-body">
                            <fieldset>
                                <div class="field">
                                    <label class="pull-left">Username</label>
                                    <div class="ui left icon input">
                                        <input type="text" placeholder="Username">
                                        <i class="user icon"></i>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="pull-left">Password</label>
                                    <div class="ui left icon input">
                                        <input type="password" placeholder="Password">
                                        <i class="lock icon"></i>
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <label class="pull-left">
			    	    		<input name="remember" type="checkbox" value="Remember Me" > Remember Me
			    	    	   </label>
                                </div>

                                <div>
                                    <button class="ui button secondary btn-block" type="submit" value="Login">Login</button>
                                </div>

                            </fieldset>
                            <hr>

                            <h4 style="text-align: center;">OR</h4>


                            <a href="/" class="ui facebook button btn-block" type="submit" value="Login">
                                <i class="facebook icon"></i> Facebook
                            </a>
                            <a href="/register"> create account? </a>



                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <%- include('./partials/footer') %>