<!DOCTYPE html>
<html>

<head>
    <title>Ask</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/register.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
</head>

<body>

    <div class="container">
        <div class="row" id="landing-header">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">register </h3>
                    </div>
                    <form action="/register" method="POST" class="ui form">
                        <!-- <div class="panel-body"> -->
                        <div class="ui segment">
                            <div class="ui two column very relaxed grid">
                                <div class="column">
                                    <div class="field">
                                        <label class="pull-left">Username</label>
                                        <div class="ui left icon input">
                                            <input type="text" name="username" placeholder="Username">
                                            <i class="user icon"></i>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="pull-left">E-mail</label>
                                        <div class="ui left icon input">
                                            <input type="text" name="email" placeholder="E-mail">
                                            <i class="at icon"></i>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="pull-left">name</label>
                                        <div class="ui left icon input">
                                            <input type="text" name="name" placeholder="name">
                                            <i class="user icon"></i>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="pull-left">password</label>
                                        <div class="ui left icon input">
                                            <input type="password" placeholder="password">
                                            <i class="lock icon"></i>
                                        </div>
                                    </div>

                                </div>

                                <div class="column">
                                    <div class="field">
                                        <label for="birthday" class="pull-left">Birthday:</label>
                                        <input type="date" id="birthday" name="birthday">
                                    </div>
                                    <div class="field">
                                        <label class="pull-left">bio</label>
                                        <textarea name="bio" id="" cols="30" rows="7" placeholder="type " maxlength="150"></textarea>
                                        <!-- <div class="ui left icon input">
                                                    <input type="text" placeholder="name">
                                                    <i class="user icon"></i>
                                                </div> -->
                                    </div>


                                    <div>
                                        <button class="ui button secondary btn-block" type="submit" value="Login">submit</button>
                                    </div>
                                    <a href="/" class="ui facebook button btn-block" type="submit" value="Login">
                                        <i class="facebook icon"></i> Facebook
                                    </a>
                                    <a href="/login"> login? </a>
                                </div>
                            </div>
                            <div class="ui vertical divider">
                                and
                            </div>
                        </div>


                        <!-- </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <%- include('./partials/footer') %>