<div class="col-md-7">
    <!-- ================================CARD==================================== -->
    <div class="panel panel-default ui card">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <div class="content">
                <div class="right floated meta">14h</div>
                <img class="ui avatar image" src="/images/avatar/large/elliot.jpg " />
                <span id="nameTitle">osama</span>
            </div>
        </div>
        <div class="panel-body">
            <h4 class="que">how are you ?</h4>
            <hr />
            <p>
                Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id
                elit.
            </p>
            <hr />
            <div class="content">
                <span class="right floated">
                    <i class="trash alternate icon"></i>
                    <a href="#">delete</a> 
                    </span>
                <span class="right floated">
                <i class="heart outline red like icon"></i>
                <a href="#">17 likes</a> 
                </span>


                <span class="right floated">
                        <i class="comment outline icon"></i>
                        <a onclick="document.getElementById('conmments').style.display = 'block'">3 comments</a>
                       
                    </span>

            </div>
            <br />

            <!-- ====================================COMMENTS================================================= -->
            <div class="ui comments well">
                <h3 class="ui dividing header">Comments</h3>

                <div id="conmments">
                    <div class="comment">
                        <a class="avatar">
                            <img src="/images/avatar/small/elliot.jpg" />
                        </a>
                        <div class="content">
                            <a class="author">Elliot Fu</a>
                            <div class="metadata">
                                <span class="date">Yesterday at 12:30AM</span>
                            </div>
                            <div class="text">
                                <p>
                                    This has been very useful for my research. Thanks as well!
                                </p>
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                        <div class="comments">
                            <div class="comment">
                                <a class="avatar">
                                    <img src="/images/avatar/small/jenny.jpg" />
                                </a>
                                <div class="content">
                                    <a class="author">Jenny Hess</a>
                                    <div class="metadata">
                                        <span class="date">Just now</span>
                                    </div>
                                    <div class="text">
                                        Elliot you are always so right :)
                                    </div>
                                    <div class="actions">
                                        <a class="reply">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="ui reply form">
                    <div class="field">
                        <div class="ui icon input">
                            <input type="text" placeholder="add comment..." />
                            <a href="#" class="ui button secondary"><i class="reply icon"></i></a>

                        </div>
                    </div>

                </form>
            </div>
            <!-- ===============================END COMMENTS================================== -->
        </div>
    </div>
    <!-- =========================================END CARD================================================ -->
</div>